// .recordlist-container {
//   color: #fff;

//   th {
//     text-align: center;
//   }
// }

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;

  .product-image-container {
    display: flex;
    width: 100%;
    border: 2px solid red;

    .product-image {
      border: 2px solid blue;
      width: 100%;
      height: auto;
      object-fit: cover;
      margin-bottom: 8px;
    }
  }
  // .product-image {
  //   border: 2px solid blue;
  //   width: 100%;
  //   height: auto;
  //   object-fit: cover;
  //   margin-bottom: 8px;
  // }

  .product-info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .product-name {
      font-weight: bold;
      font-size: 18px;
    }

    .product-price {
      color: green;
      font-weight: bold;
      font-size: 16px;
    }
  }
}

.position-text {
  color: red;
}

// .delete-btn {
//   color: #fff;
//   background-color: red;
// }
